# Save the output of this file and use kubectl create -f to import
# it into Kubernetes.
#
# Created with podman-3.4.0
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: hslu-wipro-smic
  name: hslu-wipro-smic
spec:
  containers:
    - name: api
      command:
        - .venv/bin/python3
      args: [-m, api]
      workingDir: /app/api
      env:
        - name: SMIC_PORT
          value: 8080
      image: randombenj/hslu-wipro-smic-api
      volumeMounts:
        - mountPath: /app/api/database.db
          name: database
      ports:
        - containerPort: 8080
          hostPort: 8080
          protocol: TCP

    - name: dataingress
      command:
        - .venv/bin/python3
      args: [-m, dataingress]
      image: randombenj/hslu-wipro-smic-dataingress
      volumeMounts:
        - mountPath: /app/dataingress/database.db
          name: database
      workingDir: /app/dataingress

    - name: mqtt
      command:
        - /docker-entrypoint.sh
      args: [/usr/sbin/mosquitto, -c, /mosquitto/config/mosquitto.conf]
      image: docker.io/library/eclipse-mosquitto:latest
      volumeMounts:
        - mountPath: /mosquitto/config/mosquitto.conf
          name: mqtt-config
      ports:
        - containerPort: 1883
          hostPort: 1883
        - containerPort: 9001
          hostPort: 9001
          protocol: TCP
      workingDir: /

    - name: web
      image: randombenj/hslu-wipro-smic-web
      ports:
        - containerPort: 80
          hostPort: 8888
          protocol: TCP

  dnsConfig: {}
  restartPolicy: Always

  volumes:
    - name: database
      hostPath:
        path: data/database.db

    - name: mqtt-config
      hostPath:
        path: deployment/mosquitto.conf

status: {}
