# Save the output of this file and use kubectl create -f to import
# it into Kubernetes.
#
# Created with podman-3.4.0
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: hslu-wipro-smic
  name: hslu-wipro-smic
spec:
  containers:
  - name: api
    args: ["-m","api", "--host", "0.0.0.0", "--port", "80"]
    command:
    - .venv/bin/python3
    image: localhost/randombenj/hslu-wipro-smic-api
    ports:
    - containerPort: 80
      hostPort: 8080
      protocol: TCP
    workingDir: /app/api
  - name: dataingress
    args:
    - -m
    - dataingress
    command:
    - .venv/bin/python3
    env:
    image: localhost/randombenj/hslu-wipro-smic-dataingress
    workingDir: /app/dataingress
  - name: mqtt
    args:
    - /usr/sbin/mosquitto
    - -c
    - /mosquitto/config/mosquitto.conf
    command:
    - /docker-entrypoint.sh
    image: docker.io/library/eclipse-mosquitto:latest
    volumeMounts:
    - mountPath: /mosquitto/log
      name: c64ea45e067bcb63d6bdd8e03fba5a7eb202b2b4decf98d86c6254acf8ee8642-pvc
    - mountPath: /mosquitto/data
      name: 0a36de42ee4516adc6843b3f54d8a0e376b1708a5014d690b8d303ed3fdfb7f2-pvc
    ports:
    - containerPort: 1883
      hostPort: 1883
    - containerPort: 9001
      hostPort: 9001
      protocol: TCP
    workingDir: /
  dnsConfig: {}
  restartPolicy: Always
  volumes:
  - name: 0a36de42ee4516adc6843b3f54d8a0e376b1708a5014d690b8d303ed3fdfb7f2-pvc
    persistentVolumeClaim:
      claimName: 0a36de42ee4516adc6843b3f54d8a0e376b1708a5014d690b8d303ed3fdfb7f2
  - name: c64ea45e067bcb63d6bdd8e03fba5a7eb202b2b4decf98d86c6254acf8ee8642-pvc
    persistentVolumeClaim:
      claimName: c64ea45e067bcb63d6bdd8e03fba5a7eb202b2b4decf98d86c6254acf8ee8642
status: {}

