name: Publish Docker image

on: [push, pull_request]

jobs:
  publish-containers-components:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        component: ['api', 'dataingress']
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: randombenj
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v1
        with:
          images: randombenj/hslu-wipro-smic

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ${{ matrix.component }}/Dockerfile
          push: true
          tags: randombenj/hslu-wipro-smic-${{ matrix.component }}:latest
